.container {
	padding: 90px 32px 78px;

	p {
		line-height: 25px;
		font-weight: 400;
		transition: $transition;
	}

	.card-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 30px;
		justify-items: center;
		transition: $transition;

		@media only screen and (min-width: $desktop) {
			-moz-column-gap: 30px;
			column-gap: 30px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				'supervisor teamBuilder calculator'
				'supervisor karma calculator';

			align-items: center;
			max-width: 1110px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
