// FONT SIZE
$font-size: 15px;
$font-family: 'Poppins', sans-serif;

// COLORS
$clr-primary-1: hsl(0, 78%, 62%);
$clr-primary-2: hsl(180, 62%, 55%);
$clr-primary-3: hsl(34, 97%, 64%);
$clr-primary-4: hsl(212, 86%, 64%);

$clr-neutral-1: hsl(234, 12%, 34%);
$clr-neutral-2: hsl(229, 6%, 66%);
$clr-neutral-3: hsl(0, 0%, 98%);
$clr-neutral-4: hsla(229, 6%, 66%, 0.5);

$desktop: 1440px;

// TRANSITION
$transition: all 200ms ease;
